<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531781551751-5rm2ug12oc722qqh7qr5tgt4uijno9kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531781551751-5rm2ug12oc722qqh7qr5tgt4uijno9kr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531781551751-67ib0m73j818sad4hvua2q8h7nbht76u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxH7bYcYsjsyGTp6bxqCIHAUcdljm3km4</string>
	<key>GCM_SENDER_ID</key>
	<string>531781551751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winoi.denpicprototype</string>
	<key>PROJECT_ID</key>
	<string>denpic-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>denpic-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531781551751:ios:4da79cc3c77b12ccf99a22</string>
</dict>
</plist>